<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-var-p-around_large slds-container_center landing image-selector">

    <div class=".image-selector-header">
      <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
          <li class="slds-breadcrumb__item">
            <a href="javascript:void(0);">Mobi Header</a>
          </li>
          <li class="slds-breadcrumb__item">
            <a href="javascript:void(0);">Bildauswahl</a>
          </li>
        </ol>
      </nav>

      <br>

      <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-id-1">Schlagwortsuche</label>
        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
          <svg class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
          </svg>
          <input type="text" id="text-input-id-1" placeholder="Schlagwort" class="slds-input" />
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label" for="select-01">Seitenverhältnis</label>
        <div class="slds-form-element__control">
          <div class="slds-select_container">
            <select class="slds-select" id="select-01">
              <option value="">Flexibel</option>
              <option>1:1</option>
              <option>3:2</option>
              <option>21:9</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="slds-scrollable_y image-selector-content">
      <ul class="slds-grid slds-wrap">
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
        <li class="slds-col slds-size_1-of-2 slds-medium-size_1-of-3 slds-var-p-around_xxx-small">
          <div class="slds-file slds-file_card">
            <figure>
              <a href="javascript:void(0);" class="slds-file__crop">
                <span class="slds-assistive-text">Preview:</span>
                <img src="/assets/images/placeholder-img@16x9.jpg" alt="Description of the image" />
              </a>
            </figure>
          </div>
        </li>
      </ul>

      <br>

      <div class="slds-align_absolute-center" style="height:4rem">
        <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inline">
          <span class="slds-assistive-text">Loading</span>
          <div class="slds-spinner__dot-a"></div>
          <div class="slds-spinner__dot-b"></div>
        </div>
      </div>

    </div>

    <br>

    <div class="slds-docked-form-footer slds-var-p-around_large image-selector-footer">

      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_2-of-3">
          <label class="slds-form-element__label">3_Stall_V8B4373.jpg</label>
        </div>
        <div class="slds-col slds-size_1-of-3">
          <button type="button" class="slds-button slds-button_brand">Auswählen</button>
        </div>
      </div>

    </div>

  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
